rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Match the church website document for a specific app
    match /artifacts/{appId}/public/church_website {
      
      // Allow anyone to read
      allow read: if true;
      // Allow only admins to write
      allow write: if request.auth != null &&
                   request.auth.uid in [
                     "gxD1Un1yKCSei1l6RYdIYu8GXW73", // davidiguta@gmail.com
                     "wyna7iUTkVZg9FWoteMQAzSDKYS2" //kenyaindymedia@gmail.com
                   ];
    }

    // Allow creating new contact messages
    match /contactMessages/{docId} {
      allow create: if true;
    }

    // Allow authenticated users to read/write fileHashes for duplicate detection
    match /fileHashes/{document=**} {
      allow read, write: if request.auth != null;
    }

    // Deny everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
